:root {
  --app-max-width: 960px;
}

* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, Segoe UI, Helvetica, Arial,
    sans-serif;
}

.container {
  max-width: var(--app-max-width);
  margin: 0 auto;
  padding: 16px;
}
